body {
	background: rgb(221, 221, 221);
	font-size: 80%;
}
.spacer {
	height: 3vh;
	width: 75%;
	margin: 0 auto;
	background-color: rgb(221, 221, 221);
}
.head-container {
	margin: 0 auto;
	width: 80%;
	height: 16vh;
	background-color: black;
}
.thumbnail {
	height: 60%;
	width: 100%;
	border-radius: 4%;
	background-color: pink;
}
.teaser {
	position: absolute;
	left: -2%;
	bottom: 0px;
	height: 60%;
	width: 104%;
	border-radius: 5%;
	background-color: white;
	box-shadow: 0px -2px 15px 1px #b6b6b6;
}
h1 {
	font-family: 	'Open Sans', sans-serif;
	font-size: 6rem;
	color: white;
	padding-top: .5rem;
	margin-left: 7.5%;
	margin-top: 0;
}
.main-container {
	margin: 0 auto;
	width: 75%;
	height: 750px;
	display: flex;
	flex-wrap: wrap;
	background-color: rgb(221, 221, 221);
}
.card {
	width: 300px;
	height: 300px;
	margin: 20px auto;
	position: relative;
	text-align: center;
	background-color: white;
	border-radius: 5%;
	box-shadow: 0px 10px 15px 1px #b6b6b6;
}
.card:hover {
	box-shadow: 0px 10px 30px 10px #a0a0a0;
	transform: translate(0px, -15px);
}